src/main/resources/Fichiers XML/Etudiant/Etudiants.DTD

<!ELEMENT Etudiants (Etudiant+)>

<!ELEMENT Etudiant (CodeApogee, Nom, Prenom+, Email?, CIN,CNE, DateNaissance, LieuNaissance, Telephone, Premiere_inscription, Classe, Photo_path?)>

<!ELEMENT CodeApogee (#PCDATA)>
<!ELEMENT Nom (#PCDATA)>
<!ELEMENT Prenom (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT CIN (#PCDATA)>
<!ELEMENT CNE (#PCDATA)>
<!ELEMENT DateNaissance (#PCDATA)>
<!ELEMENT LieuNaissance (#PCDATA)>
<!ELEMENT Telephone (#PCDATA)>
<!ELEMENT Premiere_inscription (#PCDATA)>
<!ELEMENT Classe (#PCDATA)>
<!ELEMENT Photo_path (#PCDATA)>


